body,
html {
    height: 100%;
}

body {
    background: url('../assets/img/background.webp');
    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Font */
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1.title-bordered {
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    border-radius: 8px;
    color: red;
    text-align: center;
}

.memory-card {
    position: relative;
    cursor: pointer;
    perspective: 1000px;
    width: 100%;
    height: 120px;
    max-width: 120px;
    margin: auto;
}

.memory-card .card-front,
.memory-card .card-back {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.memory-card .card-back {
    transform: rotateY(0deg);
    background-image: url('assets/img/back-card.png');
    background-size: cover;
    background-position: center;
}

.memory-card .card-front {
    transform: rotateY(-180deg);
}

.memory-card.flipped .card-front {
    transform: rotateY(0deg);
}

.memory-card.flipped .card-back {
    transform: rotateY(180deg);
}

.row-cols-4>.col {
    flex: 0 0 25%;
    max-width: 25%;
}