html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Affiche la scrollbar uniquement si nécessaire */
}

body {
    background: url('../assets/img/background.webp');
    background-position: top center;
    background-repeat: repeat-y; /* Répète seulement verticalement */
    background-size: auto; /* Laisse l'image à sa taille naturelle pour la répétition */
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh; /* Assure que le body occupe toute la hauteur */
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1.title-bordered {
    padding: 5px 15px;
    border-radius: 8px;
    text-align: center;
    margin-top: -35px; /* Monte le h1 de 20px */
}

.label-bordered {
    background-color: black;
    border: 3px solid #BB2D3B;
    padding: 5px 10px;
    border-radius: 8px;
    display: block;
    width: fit-content;
}

.memory-card {
    position: relative;
    cursor: pointer;
    perspective: 1000px;
    width: 100%;
    height: 120px;
    max-width: 120px;
    margin: auto;
}

.memory-card .card-front,
.memory-card .card-back {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.memory-card .card-back {
    transform: rotateY(0deg);
    background-image: url('assets/img/back-card.png');
    background-size: cover;
    background-position: center;
}

.memory-card .card-front {
    transform: rotateY(-180deg);
}

.memory-card.flipped .card-front {
    transform: rotateY(0deg);
}

.memory-card.flipped .card-back {
    transform: rotateY(180deg);
}

.row-cols-4>.col {
    flex: 0 0 25%;
    max-width: 25%;
}